@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --very-dark-blue-mb: hsl(233, 47%, 7%);
    --dark-desaturated-blue-cb: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);
    --white-mh: hsl(0, 0%, 100%);
    --slightly-transparent-white-mp: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-sh: hsla(0, 0%, 100%, 0.6);
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.card-wrapper{
    background: var(--very-dark-blue-mb);
    max-width: 90rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 7rem 1rem;
    display: flex;
    border-radius: .8rem;
    overflow: hidden;
}

.article{
    max-width: 35rem;
    width: 100%;
    background: var(--dark-desaturated-blue-cb);
    padding: 4rem;
    flex: 1;
}

.article h1{
    color: var(--white-mh);
    font-size: 2.3rem;
}

.article .pink{
    color: var(--soft-violet-accent);
}

.article p{
    color: var(--slightly-transparent-white-sh);
    font-size: 0.938rem;
    line-height: 1.8;
    margin-top: 2rem;
    padding-right: 3rem;
}

.article .assets{
    display: flex;
    margin-top: 4rem;
}

.article .assets p{
    margin: 0;
}

.number-block h3{
    color: var(--white-mh);
}

.img-wrapper{
    flex: 1;
    position: relative;
}

.img-wrapper::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--soft-violet-accent);
    opacity: .6;
}

.img-wrapper .desktop-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img-wrapper .mobile-img{
    display: none;
}



@media (max-width: 940px){
    .card{
        flex-direction: column-reverse;
    }

    .article{
        padding: 3rem;
    }

    .article h1{
        text-align: center;
    }

    .article p{
        padding-right: 0rem;
        text-align: center;
    }

    .article .assets{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }

    .number-block{
        margin-top: 2rem;
    }

    .img-wrapper .desktop-img{
        display: none;
    }

    .img-wrapper .mobile-img{
        width: 35rem;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.doge{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
    width: 30%;
    transition: .3s ease-in;
    opacity: 0;
}

.img-wrapper:hover .doge{
    transform: translate(-50%, -50%) scale(1) rotate(0);
    opacity: 1;
}