@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --very-dark-blue-mb: hsl(233, 47%, 7%);
    --dark-desaturated-blue-cb: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);
    --white-mh: hsl(0, 0%, 100%);
    --slightly-transparent-white-mp: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-sh: hsla(0, 0%, 100%, 0.6);
}

main{
    min-height: 100vh;
    width: 100%;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.card-wrapper{
    background: blueviolet;
    max-width: 90rem;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card{
    background: blanchedalmond;
} */

.article{
    max-width: 35rem;
    width: 100%;
    background: var(--dark-desaturated-blue-cb);
    padding: 4rem;
}

.article h1{
    color: var(--white-mh);
    font-size: 2.3rem;
}

.article p{
    color: var(--slightly-transparent-white-sh);
    font-size: 0.938rem;
    line-height: 1.8;
    margin-top: 2rem;
    padding-right: 3rem;
}

.article .assets{
    display: flex;
    margin-top: 4rem;
}

.article .assets p{
    margin: 0;
}

.number-block h3{
    color: var(--white-mh);
}


@media (max-width: 525px){
    .article h1{
        text-align: center;
    }

    .article p{
        padding-right: 0rem;
        text-align: center;
    }

    .article .assets{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .number-block{
        margin-top: 2rem;
    }
}